# Data Types in Python

1 . Numbers

# Numbers are classifed into two types in Python Programming language

a) Integer

Whole numbers e.g : 100 , 500 ,800

b) Float

Numbers with Decimal Points we can call it as Float 

e.g : 100.00, 500.00 , 800.02

In [2]:
3+4

7

In [3]:
5-2

3

In [4]:
10*2

20

In [5]:
A = 20

In [6]:
print(A)

20

In [7]:
c= 30
print(c)

30

In [8]:
7/5

1.4

In [9]:
2 **5

32

In [10]:
10%2

0

In [11]:
2*5+10+33

53

In [12]:
4 * 5

20

2.  Strings

In [15]:
"Hello World"

'Hello World'

In [16]:
'Its beautiful day for me'

'Its beautiful day for me'

In [17]:
print("Hello World")

Hello World

In [19]:
print("Hello World, \n Mr.Srinivasa Rao Potnuru \n Welcome to Python Programming")

Hello World,
 Mr.Srinivasa Rao Potnuru
 Welcome to Python Programming

In [21]:
print("\tHome\tMenu \tServices \tAboutUs \tContactUs")

	Home	Menu 	Services 	AboutUs 	ContactUs

In [22]:
name = "YOUTUBE"

In [23]:
print(name)

YOUTUBE

In [24]:
len(name)

7

In [25]:
name[0]

'Y'

In [26]:
name[3]

'T'

In [28]:
name[-1]

'E'

In [13]:
name = "potnuru"

In [14]:
print(name)

potnuru

In [29]:
name = "PYTHON PROGRAMMING"

In [30]:
print(name)

PYTHON PROGRAMMING

In [32]:
name[6:] # this one we can call it as Slicing in Strings

' PROGRAMMING'

In [35]:
name[0:6]

'PYTHON'

In [36]:
name[::-1]

'GNIMMARGORP NOHTYP'

In [38]:
name[0:5:2]

'PTO'

In [39]:
name="PYTHON"

In [40]:
print(name)

PYTHON

In [41]:
name[0]="P" # Strings are immutable objects so we cannot change the values

TypeError: 'str' object does not support item assignment

In [42]:
x ="Good"
y="Evening"
print(x+" "+y)

Good Evening

In [44]:
name = "Srinu"
print(name* 5)

SrinuSrinuSrinuSrinuSrinu

3.  Lists

4.  Dictonaries

5.  Tuples

6.  Sets

7.  Booleans